<!DOCTYPE html>
<html>
<head>
  <title>WorkoutTracker</title>
  <meta http-equiv="refresh" content="<%= @workout.rest_duration %>; url=/beast-mode">
</head>
<body>
  <h1><%= @workout.rest_duration %> Second Break</h1>
</body>
</html>
